:root {
    --main-bg-color: #0E0B16;
    --main-text-color: #C5C6C7;
    --header-text-color: #66FCF1;
    --secondary-bg-color: #1F2833;
    --secondary-text-color: #45A29E;
}

body {
    background: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}

h1 {
    color: var(--header-text-color);
    font-size: 34px;
    padding-top: 40px;
}

p {
    color: var(--main-text-color);
    font-size: 20px;
    padding: 10px;
}

.center{
    margin:auto;
    width:100%;
    padding-top:10px;
}
.divider{
    width:5px;
    height:5px;
    display:inline-block;
}
.progress_border{
    border:1px solid;
    margin:auto;
    width:50%;
    height:20px;
}
.progress_bar{
    display:none;
    position:relative;
    top:-4px;
    left:0px;
    background:black;
    height:28px;
    width:3px;
}
.progress_time{
    position:relative;
    top:25px;
    left:-10px;
    margin-top:0px;
}

span[data-descr] {
    position:relative;
    text-decoration:underline;
    color: #00F;
    cursor: help;
}

span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
    z-index: 1;
}