:root {
    --main-bg-color: #0E0B16; /*blackish*/
    --secondary-bg-color: #1F2833; /*gray*/
    --text-color: #C5C6C7; /*off-white*/
    --main-color: #66FCF1; /*light blue*/
    --secondary-color: #45A29E; /*darker blue*/
}

body {
    background: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}

h1 {
    color: var(--main-color);
    font-size: 34px;
    padding-top: 40px;
}

p {
    color: var(--text-color);
    font-size: 20px;
    padding: 10px;
}

.center {
    margin:auto;
    width:100%;
    padding-top:10px;
}
.divider {
    width:5px;
    height:5px;
    display:inline-block;
}

.header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    text-align: center;
}

.footer {
    position: fixed;
    padding-bottom: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid var(--secondary-color);
}

.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    width: 200px;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    margin-left: -100px; /*width/2*/
    z-index: 1;
    bottom: 150%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--secondary-bg-color) transparent transparent transparent;
}

/*.progress_border{
    border:1px solid;
    margin:auto;
    width:50%;
    height:20px;
}
.progress_bar{
    display:none;
    position:relative;
    top:-4px;
    left:0px;
    background:black;
    height:28px;
    width:3px;
}
.progress_time{
    position:relative;
    top:25px;
    left:-10px;
    margin-top:0px;
}*/