:root {
    --main-bg-color: #0E0B16; /*blackish*/
    --secondary-bg-color: #1F2833; /*gray*/
    --text-color: #C5C6C7; /*off-white*/
    --main-color: #66FCF1; /*light blue*/
    --secondary-color: #45A29E; /*darker blue*/
}

body {
    background: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}

h1 {
    color: var(--main-color);
    font-size: 34px;
    padding-top: 40px;
}

p {
    color: var(--text-color);
    font-size: 20px;
    padding: 10px;
}

.center {
    margin:auto;
    width:100%;
    padding-top:10px;
}
.divider {
    width:5px;
    height:5px;
    display:inline-block;
}

.header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    text-align: center;
}

.footer {
    position: fixed;
    padding-bottom: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid var(--secondary-color);
}

.tooltip .tooltiptext {
    position: absolute;
    visibility: hidden;
    width: 200px;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    margin-left: -100px; /*width/2*/
    z-index: 1;
    bottom: 150%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--secondary-bg-color) transparent transparent transparent;
}

#slidecontainer {
    width: 100%;
    padding: 10px 0;
}
.slider {
    -webkit-appearance: none;
    width: 300px;
    border: 1px solid var(--main-bg-color);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider:active {
    opacity: 1;
}
.slider:focus {
    outline: none;
}

.slider::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: var(--text-color);
    border: none;
    border-radius: 3px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 19px;
    width: 19px;
    border-radius: 40%;
    background: var(--main-color);
    margin-top: -7px;
    cursor: pointer;
}

.slider::-moz-range-track {
    width: 300px;
    height: 5px;
    background: var(--text-color);
    border: none;
    border-radius: 3px;
}
.slider::-moz-range-thumb {
    border: none;
    height: 19px;
    width: 19px;
    border-radius: 40%;
    background: var(--main-color);
    cursor: pointer;
}

.slider::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
.slider::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
.slider::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
.slider::-ms-thumb {
    border: none;
    height: 19px;
    width: 19px;
    border-radius: 40%;
    background: var(--main-color);
    cursor: pointer;
}
.slider:focus::-ms-fill-lower {
    background: #888;
}
.slider:focus::-ms-fill-upper {
    background: #ccc;
}